## Common ##
lib/
target/

## Eclipse ##
.settings/
bin/
.classpath
.project

## IDEA ##
.idea/
out/
*.iml
*.src
/RPChat.xml
/doc
/DisplayLevel_1.0.jar
/ColoredTags.jar
/TagAPI.jar
/NameTags.jar
